<div class="container">
  <%= form_for @user, html: {class: "form-container"} do |f| %>
    <% if @user.errors.full_messages.present? %>
      <div class="alert alert-danger">
        <%= @user.errors.full_messages.join('<br/>').html_safe %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Liên quan: </label>
        <%= hidden_field_tag("user[related_user_ids][]", nil) %>
        <ul>
          <% users.each do |user| %>
            <li>
                <%= check_box_tag(
                  "user[related_user_ids][]",
                  user.id,
                ) %> 
              <span>
              <%= user.name %>
              </span>
            </li>
          <% end %>
        </ul>
    </div>

    <hr />
    <div class="row">
      <div class="col-4">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
